
{% load static%}
<!DOCTYPE html>
<html>

<head>
	<title>Drought Prediction</title>

	<!--/tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//footer -->
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link href=" {% static 'css/footer_css/bootstrap.css'%}" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-css -->
<!-- css -->
<link rel="stylesheet" href="{% static 'css/footer_css/style.css'%}" type="text/css" media="all" />
<!--// css -->
<link rel="stylesheet" href="{% static 'css/footer_css/lightbox.css'%}">  
 
<!-- //font-awesome icons -->
<!-- font -->
<!-- //font -->
<script src="{% static 'js/footer_js/jquery-1.11.1.min.js' %}"></script>

<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script> 
	<!--//tags -->
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	  <link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'fonts/fontawesome-all.css' %}" rel="stylesheet">
	<!-- //for bootstrap working -->
	<link href="{% static 'fonts/font-awesome.css' %}" rel="stylesheet">
</head>

<body onload="myFunction()" >
	<i class="fas fa-user"></i>
  <i class="far fa-user"></i>
  <!--brand icon-->
  <i class="fab fa-github-square"></i>
	<div class="top_header" id="home">
		<!-- Fixed navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="nav_top_fx_w3ls_agileinfo">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					    aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
					<div class="logo-w3layouts-agileits">
						<h1> <a class="navbar-brand" href="/index"><i class="fa fa-clone" aria-hidden="true"></i> Drought <span class="desc">Prediction Center</span></a></h1>
					</div>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<div class="nav_right_top">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="/faq">FAQs</a></li>
							

						</ul>
						<ul class="nav navbar-nav">
							<li class="active"><a href="/index">Home</a></li>
							<li ><a href="/Solution">Solution</a></li>
							<li><a href="/information">Information</a></li>
							<li><a href="/wildlife">Wildlife</a></li>
							</ul>
							</li>
						</ul>
					</div>
				</div>
				<!--/.nav-collapse -->
			</div>
		</nav>
	</div>
	<!-- banner -->
	<!-- search -->
	<div id="loader"></div>
  <!--header-->
  <div class="animated zoomIn">
  <div class="header-w3l">

    <div style="width:850px;">
<a href="http://free-website-translation.com/" id="ftwtranslation_button" hreflang="en" title="" style="border:0px;"><img src="http://free-website-translation.com/img/fwt_button_en.gif" id="ftwtranslation_image" alt="Free Website Translator" style="border:0;"/></a> <script type="text/javascript" src="http://free-website-translation.com/scripts/fwt.js" /></script>
        </div>

  </div>
  </div><br>

  <!--//header-->
  <div class="main-content-agile">
  <div class="animated fadeInRight">
    <div class="sub-main-w3">
      <img src="{% static 'images/tree design.jpg' %}" alt="" /><br><br>
      <form  method="post">
      	<div class="pom-agile">
      	<input list="browsers" name="browser" class="user" placeholder="Select state" type="text">
  <datalist id="browsers">
    <option value="Himachal Pradesh">
  </datalist>
   </div>
        <div class="pom-agile">
          
          <input placeholder="Enter your area" name="area" class="user" type="text" required="">
        </div>
        <div class="pom-agile">
          
          <input placeholder="Enter month" name="month" class="user" type="text" required="">
        </div>
        <div class="pom-agile">
          
          <input placeholder="Enter Year" name="year" class="user" type="text" required="">
        </div>

        <div class="right-w3l">
          <input type="submit" name="submit" value="Search">
        </div>
      </form>
  </div>
        </div>
  </div><br>
  	<!-- services -->
	<div class="services"id="services">
		<div class="container">
			<div class="agileits-heading">
				<h3>Our Services</h3>
			</div>
			<div class="wthree-services-grids">
				<div class="col-sm-3 wthree-services">
					<div class="wthree-services-grid">
						<div class="wthree-services-info">
							<i class="fas fa-cloud" aria-hidden="true" style="font-size:50px;"></i>
							<h4>Factors</h4>
							<div class="w3ls-border"> </div>
						</div>
						<div class="wthree-services-captn">
							<h4><b>Factors</b></h4>
							<p>Change is never by mere chance; it is the result of forces working together. Therefore certain factors need to be taken care of.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-3 wthree-services">
					<div class="wthree-services-grid">
						<div class="wthree-services-info">
							<i class="fas fa-tachometer-alt" style="font-size:50px;"></i>
							<h4>Prediction</h4>
							<div class="w3ls-border"> </div>
						</div>
						<div class="wthree-services-captn">
							<h4><b>Prediction</b></h4>
							<p>Some things are so unexpected that no one is prepared for them and hence predicting the conditions beforehand is required.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-3 wthree-services">
					<div class="wthree-services-grid">
						<div class="wthree-services-info">
							<i class="fas fa-search" style="font-size:50px;"></i>
							<h4>Mitigation</h4>
							<div class="w3ls-border"> </div>
						</div>
						<div class="wthree-services-captn">
							<h4><b>Mitigation</b></h4>
							<p>After every storm the sun will smile; for every problem there is a solution. Therefore these are the solutions  to prevent drought.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-3 wthree-services">
					<div class="wthree-services-grid">
						<div class="wthree-services-info">
							<i class="fas fa-paw" style="font-size:50px;"></i>
							<h4>Wildlife</h4>
							<div class="w3ls-border"> </div>
						</div>
						<div class="wthree-services-captn">
							<h4><b>Wildlife</b></h4>
							<p>The greatness of a nation can be judged by the way its animals are treated. Hence we owe them a duty of care and protection.</p>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //services -->

  <!--//main-->
 <script type="text/javascript" src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
	<script>
		$('ul.dropdown-menu li').hover(function () {
			$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
		}, function () {
			$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
		});
	</script>

	<!-- js -->
	<!-- Smooth-Scrolling-JavaScript -->
	<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll, .navbar li a, .footer li a").click(function (event) {
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //Smooth-Scrolling-JavaScript -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- jQuery-Photo-filter-lightbox-Gallery-plugin -->
	<script type="text/javascript" src="{% static 'js/jquery-1.7.2.js' %}"></script>
	<script src="{% static 'js/jquery.quicksand.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/script.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/jquery.prettyPhoto.js' %}" type="text/javascript"></script>
<script>
var myVar;

function myFunction() {
    myVar = setTimeout(showPage);
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("myDiv").style.display = "block";
}
</script>

	<!-- //jQuery-Photo-filter-lightbox-Gallery-plugin -->

</body>

</html>